* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
  font-weight: 200;
}

dl, ol, ul {
  padding: 0;
  margin: 0;
}

body {
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.title h1 {
  color: #fff;
  font-size: 44px;
  font-family: "Orbitron", sans-serif;
  padding: 32px 0 32px 0;
  text-align: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.welcome__title {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 60px;
}
.welcome__p1-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  margin-bottom: 30px;
}
.welcome__ul-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 40px;
  margin-bottom: 30px;
}
.welcome__p2-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.form__title {
  margin-bottom: 32px;
}
.form__input-container {
  display: flex;
  flex-direction: column;
}
.form__input-container__item {
  height: 36px;
  width: auto;
  margin-bottom: 24px;
  border: 1px solid #acacac;
  border-radius: 4px;
}
.form__row-submit input {
  background-color: rgb(61, 156, 61);
  font-family: "Hind", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  width: 160px;
  padding: 5px 30px;
  border: none;
  border-radius: 48px;
}
.form__row-submit input:hover {
  background-color: rgb(56, 141, 56);
}

.cotizaciones-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  margin-top: 48px;
  border-radius: 12px;
  margin-bottom: 80px;
}
.cotizaciones-container h3 {
  margin-top: 24px;
}
.cotizaciones-container__header-items {
  display: flex;
  flex-direction: row;
}
.cotizaciones-container__header-items li {
  list-style: none;
  font-size: 16px;
  width: 160px;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 8px;
}
.cotizaciones-container__cotizaciones-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-items {
  display: flex;
  flex-direction: row;
  color: #000;
  font-size: 16px;
  width: 1000px;
  background-color: #46a6c0;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 8px;
}
.header-items li {
  width: 160px;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 8px;
}

.item-vehiculo {
  display: flex;
  flex-direction: row;
  color: #000;
  font-size: 16px;
  width: 1000px;
  background-color: #b1e9f8;
  border-radius: 8px;
  margin-bottom: 8px;
}
.item-vehiculo li {
  width: 160px;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 8px;
}

.cotizaciones {
  width: 500px !important;
  margin-left: 8px;
}

.deleteButton {
  margin: 20px 0;
}
.deleteButton input {
  background: yellow;
  color: red;
  padding: 8px 16px;
  border-radius: 4px;
  border: 3px solid red;
  font-weight: 800;
}/*# sourceMappingURL=style.css.map */